{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
{% load djangular_tags %}
<script type="text/javascript" src="{% static 'app/scripts/main.js' %}" ></script>
<div class="jumbotron">
    <h1>Redis Recent Events Dashboard</h1>
    <p class="lead">Lorem Ipsum Dolor</p>
    <p><span class="btn btn-large btn-warning" id="sync_db_button">Start Sync</span></p>
</div>
<!-- This row is for scripts output-->
{% angularjs %}
<div class="jumbotron" id="console_log_parent" ng-controller="RedisDbSyncSetup">
    <p class="description">
        <table class="table-responsive" id="events_output">
            <th>Event UID</th>
            <th>Event SID</th>
            <th>Event Description</th>
            <th>Event Alert Type</th>
            <tr class="table-bordered" id="event_output_template" ng-repeat="event in events">
                <td>{{event.uid}}</td>
                <td>{{event.sid}}</td>
                <td>{{event.desc}}</td>
                <td>{{event.type}}</td>
            </tr>

        </table>

</div>


<div class="row" style="width: 600px">
    <div class="col-md-8" style="width: 50vw">
        <h2>Output log</h2>
        <p id="table_content">
            <table>
                <tr>

                </tr>
            </table>
    </div>
    
</div>
{% endangularjs %}

{% endblock %}
