{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
{% load djangular_tags %}
<script type="text/javascript" src="{% static 'app/scripts/main.js' %}" ></script>


<div id="angularjs_wrapper" ng-app="RedisSync">
    {% angularjs %}
    <div class="jumbotron">
        <h1 ng-controller="RedisDbSyncSetup">Events Overview</h1>
        <p class="lead">Recent Events:</p>


        <p class="col-md-4"><span class="btn btn-large btn-danger col-md-5 text-center" id="gen_db_button" data-toggle="tooltip" title="Just For Debugging Purposes Only."><span class="glyphicon glyphicon-alert"></span> Start Gen Data</span> </p>
        <p class="col-md-4"><span class="btn btn-large btn-default col-md-5" id="sync_db_button">Start Sync</span></p>
    </div>
    {% endangularjs %}

    <!-- This row is for scripts output-->
    {% angularjs %}
    <div class="jumbotron" id="console_log_parent" ng-controller="RedisDbSyncSetup" style="overflow: auto">
            <table class="table-responsive container text-center" id="events_output" style="overflow: auto">
                <th class="text-center">Event UID</th>
                <th class="text-center">Event SID</th>
                <th class="text-center">Event Origin</th>
                <th class="text-center">Event Timestamp</th>
                <th class="text-center">Event Data</th>
                <th class="text-center">Event Alert Type</th>
                <tr onclick="ToggleEventInfo(this)" id="event_output_template" class="text-center" ng-repeat-start="event in events" style="cursor: pointer" ng-class="{ 'btn-warning': (event.type == 'wrn'), 'btn-danger': (event.type == 'err')}" >
                    <td id="uid">{{event.uid}}</td>
                    <td>{{event.sid}}</td>
                    <td>{{event.origin}}</td>
                    <td>{{event.timestamp}}</td>
                    <td>{{event.data}}</td>
                    <td>{{event.type}}</td>
                </tr>
                <tr id="event_output_expanded_template" ng-repeat-end class="collapse">
                    <td colspan="99">
                        <ul class="list-unstyled text-center">
                            <li class="text-info" id="loading">
                                Loading...
                            </li>
                            <li class="text-danger" id="error">
                                Error Occured
                            </li>
                            <ul class="list-unstyled" id="ulfull">
                                <li>Uid: {{event.uid}}</li>
                                <li>Sid: {{event.sid}}</li>
                                <li>Date: {{event.date}}</li>
                                <li>Origin: {{event.origin}}</li>
                                <li>Description: {{event.desc}}</li>
                                <li>Type: {{event.type}}</li>
                            </ul>
                        </ul>
                    </td>
                </tr>

            </table>
    </div>


    <div class="jumbotron">
        <h2>Output log</h2>
        <div>
            <table id="erro_table-content">
            </table>
        </div>

    </div>
    {% endangularjs %}


</div>



{% endblock %}
